<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
		<h1>New Product Page</h1>
		<form action="/product" method="POST">
			Title: <input type="text" name="title" /><br />
			Seller: <input type="text" name="seller" /><br />
			Sold: <input type="checkbox" name="sold" /><br />
			<input type="submit" name="" value="Add Product" />
		</form>
	</body>
	</body>
</html>